# Python
__pycache__/
*.pyc
venv/
.env

# Arquivos de IDE/Editor
.vscode/
.idea/
# .gitignore

# Ignorar arquivos de ambiente com segredos
.env
.streamlit/secrets.toml

# Ignorar arquivos de cache do Python
__pycache__/
*.pyc

# Ignorar arquivos do sistema operacional
.DS_Store
Thumbs.db